.work-container{
    width: 900px;
    margin: 0px auto;
}

.work {
    color: #8080ff;
}

.service{
    width: 74%;
}

.service-tag{
    font-size: 18px;
    line-height: 1.5;
}

@media (min-width:640px) {
    .work-title{
        font-size: 55px;
        line-height: 60px;
    }
}

@media (max-width:640px) {
    .work-title{
        font-size: 1.8rem;
        line-height: 35px;
    }
}